
<!--second row-->
	<div class="row">
	    <div class ="col-lg-6 margin-top170 padding-left60 white text-center">
	    		<h1 class="huge">TRY IT</h1>
			<p class="large-paragraph">
			Yes, it's completely FREE.
    			</p>
			<p class="large-paragraph">
			Create a beautiful chart showing meridian home prices
			in any Zip Code and download a vector file of it
			to include in your next mailer.
    			</p>
	    </div>
	    <div class ="col-lg-6 margin-top250 text-center">
	        <form>
	        <p>
			<select><option value="Select Chart">Select Chart</option></select>
	        </p>
	        <p class="margin-top20">
			<input type="text" id="zip" value="Enter Zip"></p>
			<p class="margin-top20">
			<!--<button type="button" class="btn-lg btn-warning">-->
			<img src="images/chart-it-button.png" alt="Chart It">
			<!--</button>-->
	    		</p>
	        </form>
	    </div>
	</div>
	<!--end row-->
	<!--third row-->
	<div class="row margin-top200">
      <div class="postscript-1 postscript-3col">
	  		<p class="postscript-heading">Step 1</p>
				<p class="postscript-copy">Generate a chart and customize it</p>
			</div>
			<div class="postscript-2 postscript-3col">
				<p class="postscript-heading">Step 2</p>
				<p class="postscript-copy">Download your chart in vector format</p>
			</div>
			<div class="postscript-3 postscript-3col">
				<p class="postscript-heading">Step 3</p>
				<p class="postscript-copy">Use your chart in marketing material</p>
			</div>
	</div>
	<!--end row-->
	<!--fourth row-->
