<div class="container">
  <h1>Real Estate Chart</h1>
  <form>
      <div class="form-group">
          <label for="indicator">Chart Metric</label>
          <select class="form-control" id="indicator" required>
            <option *ngFor="let indicator of indicators" [value]="indicator.value">{{indicator.display}}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="category">Area Category</label>
          <select class="form-control" id="category" onchange="showDiv(this)" required>
	        <option>Select...</option>
            <option *ngFor="let category of categories" [value]="category.value">{{category.display}}</option>
          </select>
      </div>
      <div class="form-group" style="display:none;" id="city_block">
          <label for="city">City</label>
          <select class="form-control" id="city" required>
            <option *ngFor="let city of cities" [value]="city.value">{{city.display}}</option>
          </select>
      </div>
      <div class="form-group" style="display:none;" id="zipcode_block">
          <label for="zipcode">ZIPCode</label>
          <input type="text" class="form-control" id="zipcode">
      </div>
	  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
