
<!--second row-->
	<div class="row">
	    <div class ="col-lg-6 margin-top170 padding-left60 white text-center">
	    		<h1 class="huge">ABOUT</h1>
			<p class="large-paragraph">
			Ut quis mauris nec velit venenatis accumsan vel ut diam. Sed fringilla arcu nisi, ut mattis tellus interdum eget. Pellentesque condimentum luctus arcu, 
			sit amet gravida urna sagittis ut.
    			</p>
			
	    </div>
	    <div class ="col-lg-6 margin-top250 text-center">
	       <p>&nbsp;</p>
	    </div>
	</div>
	<!--end row-->
	<!--third row-->
	<div class="row margin-top200">
      	<div class="col-xs-4">
	  		<a href="#">
	  		<img class="img-responsive bottom25" src="images/step1.png" alt="">
    			</a>
		</div>
		<div class="col-xs-4">
            <a href="#">
                <img class="img-responsive bottom25" src="images/step2.png" alt="">
            </a>
        </div>
		<div class="col-xs-4">
            <a href="#"><img class="img-responsive bottom25" src="images/step3.png" alt=""></a>
        </div>
	</div>
	<!--end row-->
	<!--fourth row-->
